<h1>Divisas estructurales</h1>
<div class="row">

    <div class="col-md-6">

        <h3>*ngif</h3>

        <hr>
        <button (click)="mostrar=!mostrar" type="button" class="btn btn-outline-primary btn-block">Mostrar</button>

    </div>



    <div class="col-md-6">
        <h3>ngo</h3>
        <hr>
        <ul class="list-group">
            <li clas="list-group-item">item 1</li>
            <li clas="list-group-item">item 2</li>
            <li clas="list-group-item">item 3</li>
        </ul>
    </div>
</div>


<div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">{{texto}}</h5>
        <p class="card-text">{{autor}}</p>
    </div>
</div>